<script setup>
import {onMounted, ref, watch} from 'vue';
import httpClient from '@/main';
import AssetsComponent from '@/components/AssetsComponent.vue';
import router from "@/router/index.js";

const assetsList = ref([]);
const status = ref(0);
const loginUsername = ref('');

onMounted(() => {
  getSessionUser();
  findAllAssets();
})

async function findAllAssets() {
  const url = "/findAll";

  try {
    const response = await httpClient.post(url);

    assetsList.value = response.data;
  } catch (error) {
    console.log(error);
  }
}

function createAssets() {
  router.push("/create/assets")
}

const renewPage = (something) => {
  status.value += something;
}

watch(status, findAllAssets);

async function getSessionUser() {
  const url = '/users/map';

  try {
    const response = await httpClient.post(url);

    loginUsername.value = response.data.userName;
  } catch (error) {
    console.log(error);

    await router.push('/login');
  }
}

</script>

<template>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>財產編號</th>
      <th>資產建立日期</th>
      <th>財產名稱</th>
      <th>使用單位</th>
      <th>使用人</th>
      <th>資產價值</th>
      <th>
        <button @click="createAssets" class="btn btn-primary">CreateNewAssets</button>
      </th>
    </tr>
    </thead>

    <AssetsComponent v-for="assets in assetsList"
                     :key="assets.id"
                     :id="assets.id"
                     :builtDate="assets.builtDate"
                     :name="assets.name"
                     :unit="assets.unit"
                     :user="assets.user"
                     :value="assets.value"

                     @renewMe="renewPage"
    />

  </table>
</template>

<style scoped></style>