<script setup>
import {onMounted, ref} from 'vue';
import httpClient from '@/main';
import Swal from "sweetalert2";
import router from "@/router/index.js";

const unitList = ref([]);
const builtDate = ref('');
const name = ref('');
const unit = ref('');
const user = ref('');
const value = ref('');
const loginUsername = ref('')

onMounted(() => {
  getSessionUser();
  findAllUnit();
})

async function findAllUnit() {
  const url = "/unit/findAll";

  try {
    const response = await httpClient.post(url)

    unitList.value = response.data
  } catch (error) {
    console.log(error);
  }
}

async function createAssets() {
  const url = '/create';

  try {
    await httpClient.post(url, {
      "builtDate": builtDate.value,
      "name": name.value,
      "unit": unit.value,
      "user": user.value,
      "value": value.value
    });

    await Swal.fire({
      icon: 'success',
      title: 'Success',
      text: 'Assets created successfully'
    });

    console.log('Assets created successfully');
  } catch (err) {
    await Swal.fire({
      icon: 'error',
      title: 'Error',
      text: 'Error creating assets'
    });

    console.error('Error creating assets:', err.message);
  } finally {
    clearInput();
  }
}

function clearInput() {
  builtDate.value = '';
  name.value = '';
  unit.value = '';
  user.value = '';
  value.value = '';
}

async function readCSV() {
  const {value: formValues} = await Swal.fire({
    title: "Upload CSV?",
    html:
        `<div>
            <input id="csvFile" type="file" ref="fileInput" accept=".csv">
        </div>`,
    focusConfirm: false,
    preConfirm: () => {
      return {
        csvFile: document.getElementById('csvFile').value
      }
    }
  });

  if (formValues) {
    const url = '/readCSV';
    const formData = new FormData();
    formData.append('file', formValues.csvFile);

    try {
      await httpClient.post(url, formData);

      console.log(formValues.csvFile)
      await Swal.fire({
        icon: 'success',
        title: 'Success',
        text: '成功',
      });

      console.log('Success');
    } catch (error) {
      await Swal.fire({
        icon: 'error',
        title: 'Error',
        text: 'Error',
      });

      console.log(error);
    }
  }
}

function returnToAssets() {
  router.push("/assets")
}

async function getSessionUser() {
  const url = '/users/map';

  try {
    const response = await httpClient.post(url);

    loginUsername.value = response.data.userName;
  } catch (error) {
    console.log(error);
    await router.push('/login');
  }
}

</script>

<template>
  <div class="container-fluid">

    <div class="row">

      <main class="main-header2 col-md-10 col-lg-10 d-md-block">

        <div class="mb-3">
          <label for="unitDropdown" class="form-label">使用單位：</label>
          <select v-model="unit" name="unit" class="form-select">
            <option v-for="unit in unitList"
                    :key="unit.unitName"
                    :value="unit.unitName">
              {{ unit.unitName }}
            </option>
          </select>
        </div>

        <div class="mb-3">
          <label for="builtDate" class="form-label">資產建立日期：</label>
          <input type="text" v-model.trim="builtDate" name="builtDate" class="form-control">
        </div>

        <div class="mb-3">
          <label for="name" class="form-label">財產名稱：</label>
          <input type="text" v-model="name" name="Description" class="form-control">
        </div>

        <div class="mb-3">
          <label for="user" class="form-label">使用人：</label>
          <input type="text" v-model="user" name="user" class="form-control">
        </div>

        <div class="mb-3">
          <label for="value" class="form-label">資產價值：</label>
          <input type="text" v-model="value" name="value" class="form-control">
        </div>

        <div>
          <button @click="createAssets()"><span>Submit</span></button>
        </div>
        <br/>

        <div>
          <button @click="readCSV()"><span>CSV檔匯入</span></button>
        </div>
        <br/>

        <div>
          <button @click="returnToAssets()"><span>Return</span></button>
        </div>
      </main>
    </div>
  </div>
</template>

<style scoped></style>