<script setup>
import { ref } from 'vue';
import httpClient from '@/main';

const result = ref('')

const userInput = ref({
    username: '',
    password: ''
})

async function postUserInput() {
    console.log('@@@@@@@@@@@@@');

    const url = "/user/login";

    try {
        const response = await httpClient.post(url, {
            "username": userInput.value.username,
            "password": userInput.value.password
        })

        result.value = "成功"
        console.log(response.data);
    } catch (error) {
        console.log(error);

        result.value = error.response.data;
    }
}

</script>

<template>
    <div class="card-header">登入</div>

    <div class="card-body">

        <div class="mb-3">
            <label class="form-label">帳號</label>
            <input class="form-control" name="username" v-model.trim="userInput.username" />
        </div>

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">密碼</label>
            <input type="password" class="form-control" name="password" v-model.trim="userInput.password" />
        </div>

        <button @click="postUserInput" type="submit" class="btn btn-primary">Submit</button>

    </div>
</template>

<style scoped></style>