<script setup>
import { ref } from 'vue';
import httpClient from '@/main';

const result = ref('')

const userInput = ref({
    username: '',
    password: ''
})

async function postUserInput() {
    const url = "/user/create";

    try {
        const response = await httpClient.post(url, {
            "username": userInput.value.username,
            "password": userInput.value.password
        })

        console.log(response.data);

        result.value = "成功"
    } catch (error) {
        console.log(error);
    }
}

</script>

<template>
    <div class="card-header">註冊</div>

    <div class="card-body">

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">帳號</label>
            <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username"
                v-model.trim="userInput.username" />
        </div>

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">密碼</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password"
                v-model.trim="userInput.password" />
        </div>

        <button @click="postUserInput" type="submit" class="btn btn-primary">Submit</button>

    </div>
</template>

<style scoped></style>