<script setup>
import {onMounted, ref, watch} from 'vue';
import httpClient from '@/main';
import UnitComponent from '@/components/UnitComponent.vue';
import Swal from "sweetalert2"
import router from "@/router/index.js";

const unitList = ref([]);
const status = ref(0);
const loginUsername = ref('')

onMounted(() => {
      getSessionUser();
      findAllUnit();
    }
);

async function findAllUnit() {
  const url = "/unit/findAll";

  try {
    const response = await httpClient.post(url)

    console.log(response.data);

    unitList.value = response.data
  } catch (error) {
    console.log(error);
  }
}

async function createUnit() {
  const {value: formValues} = await Swal.fire({
    title: "Create Unit?",
    html:
        `<input id="unitName" class="swal2-input">`,
    focusConfirm: false,
    preConfirm: () => {
      return {
        unitName: document.getElementById('unitName').value
      }
    }
  });

  if (formValues) {
    const url = "/unit/create";

    try {
      await httpClient.post(url, {
        "unitName": formValues.unitName
      });

      await Swal.fire({
        icon: 'success',
        title: 'Success',
        text: '成功',
      });

      console.log('Success');
    } catch (error) {
      await Swal.fire({
        icon: 'error',
        title: 'Error',
        text: 'Error',
      });

      console.log(error);
    }

    status.value += 1;
  }
}

const renewPage = (something) => {
  status.value += something;
}

watch(status, findAllUnit);

async function getSessionUser() {
  const url = '/users/map';

  try {
    const response = await httpClient.post(url);

    loginUsername.value = response.data.userName;
  } catch (error) {
    console.log(error);
    await router.push('/login');
  }
}

</script>

<template>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>UnitName</th>
      <th>單位報表</th>
      <th>Action</th>
      <th>
        <button @click="createUnit" class="btn btn-primary">CreateNewUnit</button>
      </th>
    </tr>
    </thead>

    <UnitComponent v-for="unit in unitList" :key="unit.unitName" :unitName="unit.unitName" @renewMe="renewPage"/>

  </table>
</template>

<style scoped></style>