<script setup>
import httpClient from '@/main';
import Swal from "sweetalert2"
import {onMounted, ref} from "vue";

const props = defineProps(['id', 'builtDate', 'name', 'unit', 'user', 'value'])
const emits = defineEmits(["renewMe"])
const unitList = ref([]);

onMounted(() => {
  findAllUnit();
})

async function updateAssets() {
  const {value: formValues} = await Swal.fire({
    title: "Update Assets?",
    html: generateHtml(),
    focusConfirm: false,
    preConfirm: () => {
      return {
        builtDate: document.getElementById('builtDate').value,
        name: document.getElementById('name').value,
        unit: document.getElementById('unit').value,
        user: document.getElementById('user').value,
        value: document.getElementById('value').value
      }
    }
  });

  if (formValues) {
    const url = '/update';

    try {
      await httpClient.post(url,{
        "id": props.id,
        "builtDate": formValues.builtDate,
        "name": formValues.name,
        "unit": formValues.unit,
        "user": formValues.user,
        "value": formValues.value
      });

      await Swal.fire({
        icon: 'success',
        title: 'Success',
        text: '成功',
      });

      console.log('Success');
    } catch (error) {
      await Swal.fire({
        icon: 'error',
        title: 'Error',
        text: 'Error',
      });

      console.log(error);
    }

    renew(1);
  }
}

async function deleteUnit() {
  const url = "/unit/delete";

  try {
    const response = await httpClient.post(url, {
      "unitName": props.unitName
    })

    await Swal.fire({
      icon: 'success',
      title: 'Success',
      text: '成功',
    });

    console.log(response.data);
  } catch (error) {
    await Swal.fire({
      icon: 'error',
      title: 'Error',
      text: 'Error',
    });

    console.log(error);
  }

  // renew(1);
}

function renew(something) {
    emits('renewMe', something)
}

const generateHtml = () => {
  const selectOptions = unitList.value.map(unit => `
    <option value="${unit.unitName}">${unit.unitName}</option>
  `).join('');

  return `
    <div class="mb-3">
        <label for="builtDate" class="form-label">資產建立日期：</label>
        <input id="builtDate" class="swal2-input" placeholder="${props.builtDate}">
    </div>

    <div class="mb-3">
        <label for="name" class="form-label">財產名稱：</label>
        <input id="name" class="swal2-input" placeholder="${props.name}">
    </div>

    <div class="mb-3">
        <label for="unit" class="form-label">使用單位：</label>
        <select id="unit" name="unit" class="swal2-select">
            ${selectOptions}
        </select>
    </div>

    <div class="mb-3">
        <label for="user" class="form-label">使用人：</label>
        <input id="user" class="swal2-input" placeholder="${props.user}">
    </div>

    <div class="mb-3">
        <label for="value" class="form-label">資產價值：</label>
        <input id="value" class="swal2-input" placeholder="${props.value}">
    </div>
  `;
};

async function findAllUnit() {
  const url = "/unit/findAll";

  try {
    const response = await httpClient.post(url)

    unitList.value = response.data
  } catch (error) {
    console.log(error);
  }
}

</script>

<template>
  <tbody>
  <tr>
    <td>{{ props.id }}</td>
    <td>{{ props.builtDate }}</td>
    <td>{{ props.name }}</td>
    <td>{{ props.unit }}</td>
    <td>{{ props.user }}</td>
    <td>{{ props.value }}</td>
    <td>
      <button @click="updateAssets" class="btn btn-primary">Update</button>
    </td>
    <td>
      <button @click="" class="btn btn-danger">Delete</button>
    </td>
  </tr>
  </tbody>
</template>

<style scoped></style>