<script setup>
import httpClient from '@/main';
import Swal from "sweetalert2"

const props = defineProps(['unitName'])
const emits = defineEmits(["renewMe"])


async function produceExcel() {
  const url = "/createExcel";

  try {
    const response = await httpClient.post(url, {
      "unitName": props.unitName
    })

    await Swal.fire({
      icon: 'success',
      title: 'Success',
      text: '成功',
    });

    console.log(response.data);
  } catch (error) {
    await Swal.fire({
      icon: 'error',
      title: 'Error',
      text: 'Error',
    });

    console.log(error);
  }

  renew(1);
}

async function deleteUnit() {
  const url = "/unit/delete";

  try {
    const response = await httpClient.post(url, {
      "unitName": props.unitName
    })

    await Swal.fire({
      icon: 'success',
      title: 'Success',
      text: '成功',
    });

    console.log(response.data);
  } catch (error) {
    await Swal.fire({
      icon: 'error',
      title: 'Error',
      text: 'Error',
    });

    console.log(error);
  }

  renew(1);
}

function renew(something) {
  emits('renewMe', something)
}

</script>

<template>
  <tbody>
  <tr>
    <td>{{ props.unitName }}</td>
    <td>
      <button @click="produceExcel" class="btn btn-info">Produce</button>
    </td>
    <td>
      <button @click="deleteUnit" class="btn btn-danger">Delete</button>
    </td>
  </tr>
  </tbody>
</template>

<style scoped></style>